<!--adding H depends on D clientlib with A and B embedded-->
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.css @ categories='Hcomponent'}"/>
H depends D has embeded on A and B (2 calls)
<div class="mytextA">
    Text property color should be violet: ${properties.text}
</div>
<div class="mytextB">
    Text property color should be blue: ${properties.text}
</div>
<div class="mytextD">
    Text property color should be aqua: ${properties.text}
</div>
<div class="mytextH">
    Text property color should be grey: ${properties.text}
</div>